[package]
authors = ["m4b <m4b.github.io@gmail.com>", "Richo Healey <richo@psych0tik.net>"]
description = "High level bindings to capstone disassembly engine (http://capstone-engine.org/)"
documentation = "http://richo.psych0tik.net/capstone-rs/capstone/index.html"
license = "MIT"
name = "capstone"
repository = "https://github.com/capstone-rust/capstone-rs"
version = "0.0.6"

[dependencies]
libc = "0.2"
capstone-sys = "0.3.0"

# Not actually a dependency, but this makes the more complicated examples work
[dev-dependencies]
macho = "0.*"

[features]
default = []
use_bundled_capstone_bindings = ["capstone-sys/use_bundled_capstone_bindings"]
use_system_capstone = ["capstone-sys/use_system_capstone"]
build_capstone_cmake = ["capstone-sys/build_capstone_cmake"]
