[package]
name = "capstone-sys"
version = "0.2.0"
authors = ["m4b <m4b.github.io@gmail.com>"]
description = "System bindings to the capstone disassembly library"
build = "build.rs"
links = "capstone"
license = "MIT"
repository = "https://github.com/m4b/capstone-sys"

[dependencies]
libc = "0.2"

[build-dependencies]
pkg-config = "0.3"
gcc = "0.3"
cmake = {optional = true, version = "0.1.2"}

[features]
default = []
build_src = []
build_src_cmake = ["cmake", "build_src"]
