on:
  - push
  - pull_request

name: main

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        rust:
          - version: 1.70.0 # MSRV
            env: SKIP_CARGO_UPDATE=1
          - version: stable
          - version: beta
          - version: nightly
        os:
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust.version }}
          override: true

      - name: test
        run: env ${{ matrix.rust.env }} ./capstone-rs/ci/test.sh

      - name: test (all features)
        run: env ${{ matrix.rust.env }} ALL_FEATURES=1 ./capstone-rs/ci/test.sh
